@import url("https://fonts.googleapis.com/css?family=Merriweather:700,900");
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, Arial, sans-serif; }

body {
  background: #111; }

.card {
  background: #ccc; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 100vw; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px; }

.col-sm-1 {
  grid-column: span 1; }

.col-sm-2 {
  grid-column: span 2; }

.col-sm-3 {
  grid-column: span 3; }

.col-sm-4 {
  grid-column: span 4; }

.col-sm-5 {
  grid-column: span 5; }

.col-sm-6 {
  grid-column: span 6; }

.col-sm-7 {
  grid-column: span 7; }

.col-sm-8 {
  grid-column: span 8; }

.col-sm-9 {
  grid-column: span 9; }

.col-sm-10 {
  grid-column: span 10; }

.col-sm-11 {
  grid-column: span 11; }

.col-sm-12 {
  grid-column: span 12; }

@media only screen and (min-width: 700px) {
  .row {
    grid-gap: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px; }

  .col-md-1 {
    grid-column: span 1; }

  .col-md-2 {
    grid-column: span 2; }

  .col-md-3 {
    grid-column: span 3; }

  .col-md-4 {
    grid-column: span 4; }

  .col-md-5 {
    grid-column: span 5; }

  .col-md-6 {
    grid-column: span 6; }

  .col-md-7 {
    grid-column: span 7; }

  .col-md-8 {
    grid-column: span 8; }

  .col-md-9 {
    grid-column: span 9; }

  .col-md-10 {
    grid-column: span 10; }

  .col-md-11 {
    grid-column: span 11; }

  .col-md-12 {
    grid-column: span 12; } }
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 20px; }

  .row {
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .col-lg-1 {
    grid-column: span 1; }

  .col-lg-2 {
    grid-column: span 2; }

  .col-lg-3 {
    grid-column: span 3; }

  .col-lg-4 {
    grid-column: span 4; }

  .col-lg-5 {
    grid-column: span 5; }

  .col-lg-6 {
    grid-column: span 6; }

  .col-lg-7 {
    grid-column: span 7; }

  .col-lg-8 {
    grid-column: span 8; }

  .col-lg-9 {
    grid-column: span 9; }

  .col-lg-10 {
    grid-column: span 10; }

  .col-lg-11 {
    grid-column: span 11; }

  .col-lg-12 {
    grid-column: span 12; } }
.header {
  width: 100vw;
  height: 50px;
  background: #333; }

.hero {
  min-height: 250px;
  background-color: #444;
  margin-left: -10px;
  margin-bottom: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hero-header, .hero-header-top, .hero-header-bottom, .hero-header-emote {
  font-size: 14.286vw;
  font-family: "'Merriweather', serif";
  font-weight: 900;
  color: #ccc; }

.hero-header-top {
  letter-spacing: -1.175vw;
  font-weight: 700; }

.hero-header-bottom {
  letter-spacing: 10px; }

@media only screen and (min-width: 1200px) {
  .hero {
    margin-left: 0;
    width: 100%; }

  .hero-header, .hero-header-top, .hero-header-bottom, .hero-header-emote {
    font-size: 171px; }

  .hero-header-top {
    letter-spacing: -14px; } }
.intro {
  min-height: 200px;
  width: 100%; }

.intro-copy {
  background: #ccc; }

.intro-img {
  background-image: url("../img/intro-img.png");
  background-size: cover;
  background-position: center;
  display: none; }

@media only screen and (min-width: 700px) {
  .intro-img {
    display: block; } }

/*# sourceMappingURL=main.css.map */
