.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  // min-height: 200px;
  background: $mid-gray;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

@for $i from 1 through $grid-columns {
  .col-sm-#{$i}{
    grid-column: span #{$i};
  }
}

@media #{$tablet} {
  .row {
    grid-gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @for $i from 1 through $grid-columns {
    .col-md-#{$i}{
      grid-column: span #{$i};
    }
  }
}
@media #{$desktop} {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
  .row {
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @for $i from 1 through $grid-columns {
    .col-lg-#{$i}{
      grid-column: span #{$i};
    }
  }
}
