.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-pad-sm;
  padding-right: $grid-pad-sm;
  width: 100vw;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $grid-pad-sm;
  padding-top: $grid-pad-sm / 2;
  padding-bottom: $grid-pad-sm / 2;
}

@for $i from 1 through $grid-columns {
  .col-sm-#{$i}{
    grid-column: span #{$i};
  }
}

@media #{$tablet} {
  .row {
    grid-gap: $grid-pad-md;
    padding-top: $grid-pad-md / 2;
    padding-bottom: $grid-pad-md / 2;
  }
  @for $i from 1 through $grid-columns {
    .col-md-#{$i}{
      grid-column: span #{$i};
    }
  }
}
@media #{$desktop} {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
  .row {
    grid-gap: $grid-pad-lg;
    padding-top: $grid-pad-lg / 2;
    padding-bottom: $grid-pad-lg / 2;
  }

  @for $i from 1 through $grid-columns {
    .col-lg-#{$i}{
      grid-column: span #{$i};
    }
  }
}
