.intro{
  min-height: 200px; //temporary
  width: 100%;
}

.intro-copy {
  background: $intro-bg-color;
}

.intro-img {
  background-image: url('../img/intro-img.png');
  background-size: cover;
  background-position: center;
  display: none;
}

@media #{$tablet} {
  .intro-img {
    display: block;
  }
}

@media #{$desktop} {

}
