.nav {
  display: none;
}

.nav-link{
  font-size: 0.8em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  text-transform: uppercase;
  color: $light-gray;
  &:hover, &:active {
    color: #fff;
  }
}

@media #{$tablet} {
  .nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}

@media #{$desktop} {
  .nav{
    width: 40%;
    .nav-link{
      font-size: 1em;
    }
  }
}
