.card {
  background: $light-gray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
  min-height: 150px; //test value, remove before production


  border-radius: $card-radius;
  &:nth-child(even){
    .card-image {
      order: 2;
      border-radius: 0 $card-radius $card-radius 0;
    }
  }
}
.card-image{
  grid-column: span 4;
  background-color: $dark-gray;
  border-radius: $card-radius 0 0 $card-radius;
}

// DRY this up with a Sassy loop and array of background images
#card-img-1{
  background-image: url('../img/bubble1.jpg');
  background-position: center;
  background-size: cover;
}
#card-img-2{
  background-image: url('../img/bubble2.png');
  background-position: center;
  background-size: cover;
}
#card-img-3{
  background-image: url('../img/bubble3.jpg');
  background-position: top center;
  background-size: cover;
}
.card-copy{
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $grid-pad-sm;
}
@media #{$tablet} {
  .card {
    .card-image{
      grid-column: span 3
    }
    .card-copy{
      grid-column: span 9;
    }
  }
}

@media #{$desktop} {
  .card{
    .card-image{
      grid-column: span 12;
      border-radius: $card-radius $card-radius 0 0;
      min-height: 200px;
    }
    .card-copy{
      min-height: 200px;
      grid-column: span 12;
    }
    &:nth-child(even){
      .card-image{
        order: 0;
        //radius necessary to override specificity of defualt even setting
        border-radius: $card-radius $card-radius 0 0;
      }
    }
  }
}
